<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>LOVT - 2121</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
    </style>
    
</head>
</head>
<body>
             <header>
           
                <div class="tituloPrincipal">
                             <h1>LOVT</h1>
                              <p class ="frase">You Love, your loft!</p>
                <nav>
                        <a target  ="_blank" href="https://www.digitalhouse.com/"> Home</a>
                        <a href="">Localização</a>
                        <a href=" ">Contato</a>
                </nav>
        </div>
            
              </header>
              <main>
                                <div class="primeiraImagem">
                              
                                </div>

                                <section class="vendas">
                                                 <div class="new">
                                                            <img src="../public/img/foto-project-1.png" width="400px"  height="200px"><img>
                                                            <h3 class=" novo"> New</h3>
                                                            <h3 class="preco"> $ 1,200</h3>
                                                            <p class="textoVendas">Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Suco de cevadiss, 
                                                                é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa</p>
                                                    </div>

                                                   <div class="sale">
                                                                 <img src="../public/img/foto-project-2.png" width="400px"  height="200px"></img>
                                                                 <h3 class="oferta"> Sale</h3>
                                                                  <h3 class="preco">$ 2,000</h3>
                                                           
                                                                <p class="textoVendas">Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.</p>
                                                     </div>
                                </section>

                                <h2 class="yourStyle">Your Style</h2>
                                <section class="estilos">


                                    <div class="bunner1">
                                        <h2 >Industrial</h2>
                                    </div>

                                    <div class="bunner2">
                                        <h2>Modern</h2>
                                    </div>
                                    
                                    <div class="bunner3">
                                        <h2>Classic</h2>
                                    </div>
                                </section>

                                <h2 class="yourStyle">Contact</h2>


             </main>
    
  
    

    <footer>  </footer>
</body>
</html>